# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
local.properties

# Kotlin
.kotlin/

# IDEs
.idea/
*.iml
.fleet/
.vscode/

# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
Pods/
iosApp/iosApp.xcodeproj/project.xcworkspace/xcuserdata/
iosApp/iosApp.xcodeproj/xcuserdata/
